@import "tailwindcss";

@theme {
  --font-sans: 'Manrope', sans-serif;
  --font-body: 'Manrope', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
  --font-wellfleet: 'Wellfleet', cursive;
  --font-barriecito: 'Barriecito', cursive;
  --font-akronim: 'Akronim', cursive;
  --font-niconne: 'Niconne', cursive;
  --font-caesar: 'Caesar Dressing', cursive;
  --font-love: 'Love Ya Like A Sister', cursive;
  --font-roadrage: 'Road Rage', cursive;
  --font-frijole: 'Frijole', cursive;
}

@layer base {
  body {
    @apply antialiased text-[#111827] bg-[#F8FAFC] dark:bg-[#0B1120] font-sans transition-colors duration-200;
  }
}